<section class="content-header">
  <h1> Normalisasi Data
    <small><%= params[:data_txt].capitalize %></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Normalisasi Data</a></li>
    <li class="active">Data <%= params[:data_txt].capitalize %></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
	  <div class="nav-tabs-custom">
	    <ul class="nav nav-tabs">
	      <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Min - Max</a></li>
	      <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Z-Score</a></li>
	      <li><a href="#tab_3" data-toggle="tab">Decimal Scaling</a></li>
	      <li><a href="#tab_4" data-toggle="tab">Sigmoidal</a></li>
	      <li><a href="#tab_5" data-toggle="tab">Softmax</a></li>
	    </ul>
	    <div class="tab-content">
	      <div class="tab-pane active" id="tab_1">
	          <img src="/1_normalisasi_data/min_max.png">
	          <table class="table table-hover">
	          	<thead>
	          	  <th>No.</th>
	          	  <% @min_max_datas.first.each_with_index do |colum, jdx| %>
	          	  	<th>Column <%= jdx+1 %></th>
	          	  <% end %>
	          	</thead>
	            <tbody>
	              <% @min_max_datas.each_with_index do |data, idx| %>
	                <tr>
	                  <td><%= idx+1 %></td>
	                  <% data.each do |data2| %>
	                  	<td><%= number_with_precision(data2, precision: 3) %> </td>
	                  <% end %>
	                </tr>
	              <% end %>
	            </tbody>
	          </table>
	      </div> <!-- /.tab-pane -->

	      <div class="tab-pane" id="tab_2">
	        <img src="/1_normalisasi_data/zscore.png">
	        <table class="table table-hover">
	          	<thead>
	          	  <th>No.</th>
	          	  <% @zscore_datas.first.each_with_index do |colum, jdx| %>
	          	  	<th>Column <%= jdx+1 %></th>
	          	  <% end %>
	          	</thead>
	            <tbody>
	              <% @zscore_datas.each_with_index do |data, idx| %>
	                <tr>
	                  <td><%= idx+1 %></td>
	                  <% data.each do |data2| %>
	                  	<td><%= number_with_precision(data2, precision: 3) %> </td>
	                  <% end %>
	                </tr>
	              <% end %>
	            </tbody>
            </table>
	      </div> <!-- /.tab-pane -->

	      <div class="tab-pane" id="tab_3">
	      	<img src="/1_normalisasi_data/decimal_scaling.png">
	        <table class="table table-hover">
	          	<thead>
	          	  <th>No.</th>
	          	  <% @decimal_scaling_datas.first.each_with_index do |colum, jdx| %>
	          	  	<th>Column <%= jdx+1 %> <br> i = <%= colum %> </th>
	          	  <% end %>
	          	</thead>
	            <tbody>
	              <% @decimal_scaling_datas.each_with_index do |data, idx| %>
	                <tr>
	                  <% if idx != 0 %>
						<td><%= idx %></td>
		                <% data.each do |data2| %>
		                  <td><%= data2.round(2) %> </td>
		                <% end %>
	                  <% end %>
	                </tr>
	              <% end %>
	            </tbody>
            </table>
	      </div> <!-- /.tab-pane -->

	      <div class="tab-pane" id="tab_4">
	      	<img src="/1_normalisasi_data/sigmoidal.png">
	        <table class="table table-hover">
	          	<thead>
	          	  <th>No.</th>
	          	  <% @sigmoidal_datas.first.each_with_index do |colum, jdx| %>
	          	  	<th>Column <%= jdx+1 %></th>
	          	  <% end %>
	          	</thead>
	            <tbody>
	              <% @sigmoidal_datas.each_with_index do |data, idx| %>
	                <tr>
	                  <td><%= idx+1 %></td>
	                  <% data.each do |data2| %>
	                  	<td><%= number_with_precision(data2, precision: 3) %> </td>
	                  <% end %>
	                </tr>
	              <% end %>
	            </tbody>
            </table>
	      </div> <!-- /.tab-pane -->

	      <div class="tab-pane" id="tab_5">
	      	<img src="/1_normalisasi_data/softmax.png">
	        <table class="table table-hover">
	          	<thead>
	          	  <th>No.</th>
	          	  <% @softmax_datas.first.each_with_index do |colum, jdx| %>
	          	  	<th>Column <%= jdx+1 %></th>
	          	  <% end %>
	          	</thead>
	            <tbody>
	              <% @softmax_datas.each_with_index do |data, idx| %>
	                <tr>
	                  <td><%= idx+1 %></td>
	                  <% data.each do |data2| %>
	                  	<td><%= number_with_precision(data2, precision: 4) %> </td>
	                  <% end %>
	                </tr>
	              <% end %>
	            </tbody>
            </table>
	      </div> <!-- /.tab-pane -->
	    </div>
	    <!-- /.tab-content -->
	  </div>
    </div>
  </div>
</section>
